<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Gestión de Conferencias</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="welcome-container">
        <h1>¡Bienvenido a la aplicación de gestión de conferencias!</h1>
        <p>Administra y organiza conferencias de manera eficiente.</p>
        <button onclick="window.location.href='/login'">Empezar</button>
    </div>
</body>
</html>
