<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Sesión</title>
    <link rel="stylesheet" href="../static/sesiones.css">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="form-container">
        <h1>Agregar Sesión</h1>
        <!-- Formulario -->
        <form method="POST" action="/sesiones">
            {{ form.hidden_tag() }}
            <label for="titulo">Título de la sesión</label>
            {{ form.titulo(class="form-control") }}

            <label for="descripcion">Descripción</label>
            {{ form.descripcion(class="form-control") }}

            <label for="fecha">Fecha</label>
            {{ form.fecha(class="form-control") }}

            <label for="hora_inicio">Hora de inicio</label>
            {{ form.hora_inicio(class="form-control") }}

            <label for="hora_fin">Hora de fin</label>
            {{ form.hora_fin(class="form-control") }}

            <label for="conferencia">Conferencia Asociada</label>
            {{ form.conferencia(class="form-control") }}

            <button type="submit">Guardar Sesión</button>
        </form>

        <!-- Enlace para regresar -->
        <a href="{{ url_for('admin') }}" class="back-link">Regresar</a>
    </div>
</body>
</html>
